<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t(".content_html", link: link_to(t(".link_desc"), Settings.link.help.t),link1: link_to(t(".link1_desc"), Settings.link.help.book)) %>
</p>
