.login_form{
  margin-top: 100px;
}

.edit_form{
  margin-top: 100px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.forgot_pass
{
  margin-top: 100px;
}

.forgot_pass h1
{
  margin: 0px auto;
  text-align: center;
}
